In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#read gdp_percapita.csv file into gdb_df data frame
gdp_df= pd.read_csv(r"C:\Users\arikh\Documents\NSS_Data_Analytics\projects\gdp-and-internet-usage-arikhursheed\data\gdp_percapita.csv")  
type(gdp_df)

pandas.core.frame.DataFrame

In [3]:
print(gdp_df.head(6))

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2018  1734.723214              NaN
1     Afghanistan  2017  1758.465636              NaN
2     Afghanistan  2016  1757.023490              NaN
3     Afghanistan  2015  1766.593077              NaN
4     Afghanistan  2014  1795.735834              NaN
5     Afghanistan  2013  1807.762344              NaN

Question 7: The shape of the dataframe - how many rows, how many columns

In [4]:
gdp_df.shape

(6732, 4)

In [5]:
#read internet_use.csv file into gdb_df data frame

internet_df=pd.read_csv(r"C:\Users\arikh\Documents\NSS_Data_Analytics\projects\gdp-and-internet-usage-arikhursheed\data\internet_use.csv")

In [6]:
print(internet_df.head(6))

  Country or Area  Year        Value Value Footnotes  Unnamed: 4 Unnamed: 5
0     Afghanistan  2014         6.39             NaN         NaN        NaN
1     Afghanistan  2013          5.9             NaN         NaN        NaN
2     Afghanistan  2012  5.454545455             NaN         NaN        NaN
3     Afghanistan  2011            5             NaN         NaN        NaN
4     Afghanistan  2010            4             NaN         NaN        NaN
5     Afghanistan  2009         3.55             NaN         NaN        NaN

Question 7:The shape of the dataframe - how many rows, how many columns

In [7]:
internet_df.shape

(4677, 6)

Question 8: Take a look at the data types for the columns in each table.

In [8]:
#gdp_df table

print('Data type of each column of Dataframe :')
print(gdp_df.dtypes)

#internet_use table

print('Data type of each column of Dataframe :')
print(internet_df.dtypes)

Data type of each column of Dataframe :
Country or Area     object
Year                object
Value              float64
Value Footnotes    float64
dtype: object
Data type of each column of Dataframe :
Country or Area     object
Year                object
Value               object
Value Footnotes     object
Unnamed: 4         float64
Unnamed: 5          object
dtype: object

Question 9: Take a look at the last 10 rows of each dataset in turn.

In [9]:
print('**** Select last n Rows from a Dataframe using tail() function ****')
print(gdp_df.tail(10))

**** Select last n Rows from a Dataframe using tail() function ****
     Country or Area                                      Year        Value  \
6722        Zimbabwe                                      1996  2985.856605
6723        Zimbabwe                                      1995  2736.486436
6724        Zimbabwe                                      1994  2768.309953
6725        Zimbabwe                                      1993  2572.870395
6726        Zimbabwe                                      1992  2591.007534
6727        Zimbabwe                                      1991  2906.272849
6728        Zimbabwe                                      1990  2819.549467
6729             NaN                                       NaN          NaN
6730   footnoteSeqID                                  Footnote          NaN
6731               2  Excludes South Sudan after July 9, 2011.          NaN

      Value Footnotes
6722              NaN
6723              NaN
6724              NaN
6725              NaN
6726              NaN
6727              NaN
6728              NaN
6729              NaN
6730              NaN
6731              NaN

In [10]:
print('**** Select last 10 Rows from a Dataframe using tail() function ****')
print(internet_df.tail(10))

**** Select last 10 Rows from a Dataframe using tail() function ****
     Country or Area                                               Year  \
4667             171                        Internet Dial-up customers.
4668             172  Population age 16+ using the Internet in the l...
4669             173  Population age 16+ using internet in the last ...
4670             174  U.S. Census Bureau, Table 2. Reported Internet...
4671             175             Includes individuals 3 years and older
4672             176                                   NTIA/CPS survey.
4673             177                     Pew Internet Project, Internet
4674             178  Estimated based on Survey's results. Populatio...
4675             179                     Preliminary. Country estimate.
4676             180  The methodology used to estimated the figure f...

                                     Value Value Footnotes  Unnamed: 4  \
4667                                   NaN             NaN         NaN
4668                                   NaN             NaN         NaN
4669                                   NaN             NaN         NaN
4670                                   NaN             NaN         NaN
4671                                   NaN             NaN         NaN
4672                                   NaN             NaN         NaN
4673   Broadband and cell phone statistics     ‚Äù January 5      2010.0
4674                                   NaN             NaN         NaN
4675                                   NaN             NaN         NaN
4676                                   NaN             NaN         NaN

                                             Unnamed: 5
4667                                                NaN
4668                                                NaN
4669                                                NaN
4670                                                NaN
4671                                                NaN
4672                                                NaN
4673   http://www.pewinternet.org/~/media//Files/Rep...
4674                                                NaN
4675                                                NaN
4676                                                NaN

Question 10: Drop the 'value footnotes' data (column) from both datasets. Check that this worked as expected.

In [11]:
gdp_df.drop(['Value Footnotes'], axis=1)

     Country or Area                                      Year        Value
0        Afghanistan                                      2018  1734.723214
1        Afghanistan                                      2017  1758.465636
2        Afghanistan                                      2016  1757.023490
3        Afghanistan                                      2015  1766.593077
4        Afghanistan                                      2014  1795.735834
...              ...                                       ...          ...
6727        Zimbabwe                                      1991  2906.272849
6728        Zimbabwe                                      1990  2819.549467
6729             NaN                                       NaN          NaN
6730   footnoteSeqID                                  Footnote          NaN
6731               2  Excludes South Sudan after July 9, 2011.          NaN

[6732 rows x 3 columns]

In [12]:
internet_df.drop(['Value Footnotes'], axis=1)

,Country or Area,Year,Value,Unnamed: 4,Unnamed: 5
0,Afghanistan,2014,6.39,NaN,NaN
1,Afghanistan,2013,5.9,NaN,NaN
2,Afghanistan,2012,5.454545455,NaN,NaN
3,Afghanistan,2011,5,NaN,NaN
4,Afghanistan,2010,4,NaN,NaN
...,...,...,...,...,...
4672,176,NTIA/CPS survey.,NaN,NaN,NaN
4673,177,"Pew Internet Project, Internet",Broadband and cell phone statistics,2010.0,http://www.pewinternet.org/~/media//Files/Rep...
4674,178,Estimated based on Survey's results. Populatio...,NaN,NaN,NaN
4675,179,Preliminary. Country estimate.,NaN,NaN,NaN
4676,180,The methodology used to estimated the figure f...,NaN,NaN,NaN